doctype html
html
  head
    title {{desc}}
    {{> head.jade}}
  body
    | {{{loginBar}}}


    p
      a(href="{{toRoot}}/") href top
    
    h2 Showing {{desc}}

    p
      a(href="{{toRoot}}/addLink") Add link
    
    | Filter to: 
    input#filterTag(type='hidden', style="width: 300px")

    .linklist
      {{> linklist.jade}}

    p.stats {{stats}}
    script
      var toRoot = "{{toRoot}}", user = "{{user}}";
    {{> tail.jade}}
    script(src="{{toRoot}}/static/links.js")
