script(src='{{toRoot}}/static/lib/jquery-1.9.1.min.js')
script(src='{{toRoot}}/static/lib/select2/select2.js')
script(src="{{toRoot}}/static/lib/knockout-2.2.1.js")
script(src="{{toRoot}}/static/gui.js")
