script(src='{{toRoot}}/static/lib/jquery-1.9.1.min.js')
script(src='{{toRoot}}/static/lib/select2/select2.js')
script(src="{{toRoot}}/static/lib/knockout-2.2.1.js")
script(src="{{toRoot}}/static/lib/async-2013-03-17.js")
script(src="{{toRoot}}/static/lib/jquery.rdfquery.rdfa.min-1.0.js")
script(src="{{toRoot}}/static/lib/RDFa.min.0.21.0.js")
script(src="{{toRoot}}/static/lib/RDFa-from-jsonld.js")
script(src="{{toRoot}}/static/lib/mustache.js")
script(src="{{toRoot}}/static/gui.js")
